<header class="main_header">
    <nav class="main_img_nav">Hyy</nav> <!--Covid Img-->

    <nav class="main_nav">
        <ul>
            <li class="main_nav_items">Isolation Centers</li>
            <li class="main_nav_items">Statistic</li>
            <li class="main_nav_items">Precaution</li>
        </ul>
    </nav>
</header>